

h1 {
  text-align: center;
}

header ul{
  text-align: center;
}
header ul li{
  display: inline;
  margin:15px;
  position: relative;
}
header ul li::after{
  content: "";

  display: inline-block;
  background: black;
  height: 1em;
  width: 1px;

  position: absolute;
  right: -15px;
  top : 2px;
}
header ul li:last-child::after{
  content:"";
  display: none;
}

main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    ". .";
}

nav {
  width: 5%;
}
main{
  width: 95%;
}
main .content section .citation{
  float: right;
  margin: 0 0 0 0.5em;
  font-weight:lighter;
  width: 20%
}
main .content section .info-post{
  font-size: 0.75em;
  font-style: italic;
}
main .content section{
  position: relative;
  margin-bottom: 5em;
}
main .content section::after{
  content: "";
  display:block;

  width: 85%;
  height: 1px;
  background:black;

  position: absolute;
  bottom: 7px;
  right: 20px;
}


footer{
  text-align: center;
}
footer ul li{
  display: inline;
  margin:15px;
  position: relative;
}
footer ul li::after{
  content: "";

  display: inline-block;
  background: black;
  height: 1em;
  width: 1px;

  position: absolute;
  right: -15px;
  top : 2px;
}
footer ul li:last-child::after{
  content:"";
  display: none;
}
