body{
  display: block;
}

input{
  display: block;
}
.content{
  display: flex;

  flex-direction: row;
}

.img {


  height: 300px;

  cursor: pointer;
}

.info {
  padding-left: 5px;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.showed{
  opacity: 1;
  transition: 0.5s;
}
